@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Korbin's Home";
    ViewData["TabPic"] = "img/meandjakesnow.jpg";
}

<div class="center">
    <br />
    <h1>Korbin Derr</h1>
</div>

<div class="center">
    <img src="img/backflip.jpg" />
</div>

<div>
    <br /><br /><br /><br /><br />
    <h3>What do you hope to get out of IS413?</h3>

    <p>
        I understand that it takes years oftentimes to learn everything there is to know about web dev. Thus, my
        goal for this class is that I will leave with an understanding of what makes a good web application, how
        one should be structured, and which platforms to build it on. I hope to better understand the power and
        capabilities of the ASP.NET framework, and feel competent in C#. (And to hear more of Shilton's spritual
        thoughts!!)
    </p>
</div>

<div>
    <br />
    <h3>Top 3 IS jobs that interest you the most?</h3>

    <ol>
        <li>Data Scientist</li>
        <li>Project Manager</li>
        <li>Software Company CEO</li>
    </ol><br />
</div>
